<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <modules>
    <!--<module assemblyFile="VSIXProject1.dll" moduleType="VSIXProject1.Module1Module, VSIXProject1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f41242a94d964260" moduleName="Module1Module" startupLoaded="True" />-->
  </modules>
</configuration>